<div class="container mt-5 footer fixed-bottom">
  <footer
    class="
      d-flex
      flex-wrap
      justify-content-between
      align-items-center
      py-3
      my-4
      border-top
    "
  >

    <a
      routerLink="/"
      class="
        col-md-4
        d-flex
        align-items-center
        justify-content-center
        mb-3 mb-md-0
        me-md-auto
        link-dark
        text-decoration-none
      "
    >
      <img
        src="/assets/ecommerce.png"
        alt=""
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
    </a>
    <p class="col-md-4 mb-0 text-muted">© 2021 {{ appInfo.name }}, {{ appInfo.version }}</p>

  </footer>
</div>
